* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-family: Futura, "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  text-align: center;
}

a:link {
  color: #3897f0;
  font-weight: 600;
  text-decoration: none;
}

.brand {
  margin: 0 auto;
  max-width: 300px;
}

.logo {
  height: auto;
  max-width: 100%;
}

.wrap {
  margin: 2rem auto 0;
  max-width: 800px;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.social-info {
  border-top: 1px solid #7bae1e;
  margin-top: 40px;
  padding-top: 20px;
}

.social-info a {
  display: inline-block;
  padding: 10px;
}

.social-info svg {
  fill: #000;
  height: 24px;
  width: 24px;
}

.tagline {
  color: #36313d;
  font-size: 1.75rem;
  margin: 0 0 40px;
}